body {
  background-color: lightblue;
}


h1 {
  color: green;
  text-align: center;font-size: 70px;

}
h2 {
  color: yellow;
  text-align: center;font-size: 60px;
}h3 {
  color: pink;
  text-align: center;font-size: 50px;
}h4 {
  color: orange;
  text-align: center;font-size: 40px;
}h5 {
  color: violet;
  text-align: center;font-size: 40px;
}h6 {
  color: white;
  text-align: center;font-size: 40px;
}

h7 {
  color: red;
  text-align: left;
  font-size: 40px;

}
ul {color: blue;
  text-align: left;
  font-size: 30px;
}
h8 {
  color: green;
  text-align: center;
  font-size:30px;
}
p {
  font-family: verdana;
  font-size: 20px;
}